<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Novi treneri</title>
    <meta charset="utf-8"/>
</head>
<body>


<h1>Novi treneri</h1>

<table id="novi_treneri">
    <tr>
        <th>Id</th>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Email</th>
		<th>Telefon</th>
		<th>Datum rodjenja</th>
    </tr>
    <tr th:each="trener : ${novi_treneri}">
        <td th:text="${trener.id}"></td>
        <td th:text="${trener.ime}"></td>
        <td th:text="${trener.prezime}"></td>
        <td th:text="${trener.email}"></td>
	    <td th:text="${trener.kontakt_telefon}"></td>
		<td th:text="${trener.datum_rodjenja}"></td>
		
		
		 <td><button type="submit" class="accept">Prihvati</button></td>

        
    </tr>
</table>

</body>
</html>
