html{
	margin:0;
	padding:0;
	background-color:#343a40;
}

body{
	margin:  0;
	padding: 0;
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	background-color:#343a40;
}

.carousel-caption h1,.carousel-caption h2{
	color:black;
	background:rgba(255,255,255,0.9);
	background-transparent:50%;
}

.container{
	margin-top:30px;
	padding:30px 0px;
}


.col-sm-12 p{
	text-align:justify;
	font-size:20px;
	padding:10px 30px;
}

.col-sm-12 h2{
	text-align:center;
	color:#dc3545;
}

footer{
	
	padding-top:30px;
}
footer hr{
	border-top: 2px solid #dc3545;
}

footer h5{
	font-size:17px;
}
footer li a{
	color:white;
}

footer li a:hover{
	color:#dc3545;
	text-decoration:none;
}

.footer-copyright {
	color:white;
	background-color:#2d3339;
}
.footer-copyright a {
	color:#dc3545;
}

.footer-copyright a:hover{
	color:white;
	text-decoration:none;
}

section{
	background-color: rgb(0,0,0,0.6);
    padding: 30px;
    color: white;
}


section h2{
	
	text-align:center;
	padding:25px;
	color:white;
}

section hr{
	border-top: 2px solid #dc3545;
	text-align:center;
	width: 30%; 
	margin: 0 35% 0 35%;
}
	

.col-sm-6{
	padding:30px;
	
}

.card-body{
		background-color:#f0f2f4;
}

.card img{
	height:350px;

}

<!--Za bioskope-->
.row{
	margin-bottom:10px;
}


.row{
	margin-bottom:10px;
}

#prikaz{
	color:white;
}

#kartica{
	background-image: url("bioskop1.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
align-content: center;
}

#logcard{

margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #dc3545;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
text-align:center;
}

form p{
	color:white;
}
.social_icon{
position: absolute;
right: 20px;
top: 0px;
}

.input-group-prepend span{
width: 50px;
background-color:#dc3545;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.login_btn{
color: black;
background-color: #dc3545;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
color:#dc3545;
}

.d-flex a{
	color:#dc3545;
}

#prikaz{
		background:rgb(0,0,0,0.6);
	padding:30px 30px;
}

#filmPrikaz{
	color:white;
	padding:0px;
}

