/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
	margin:0;
	padding:0;
	background-color:#343a40;
background-image: url("bioskop2.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: "Trebuchet MS", Tahoma, sans-serif;
	
}

.container{
height: 135%;
align-content: center;
}

.card{
height: 600px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #dc3545;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
text-align:center;
}

form p{
	color:white;
}
.social_icon{
position: absolute;
right: 20px;
top: 0px;
}

.input-group-prepend span{
width: 50px;
background-color:#dc3545;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}
.form-control option:hover{
	background-color:gray;
}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #dc3545;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
color:#dc3545;
}

.d-flex a{
	color:#dc3545;
}

.page-footer{

	
	padding-top:30px;
	margin-bottom:0;
}
footer hr{
	border-top: 2px solid #dc3545;
}

footer h5{
	font-size:17px;
}
footer li a{
	color:white;
}

footer li a:hover{
	color:#dc3545;
	text-decoration:none;
}

.footer-copyright {
	color:white;
	background-color:#2d3339;
}
.footer-copyright a {
	color:#dc3545;
}

.footer-copyright a:hover{
	color:white;
	text-decoration:none;
}