<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Dostupni treninzi</title>
	<meta charset="utf-8"/>
	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
  	<link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">	
  	<link rel="stylesheet" href="/css/treninzi.css"/>	
  	<link rel="stylesheet"  href="/css/drop.css"/>	
  	<script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/treninzii.js"></script>
        <script type="text/javascript" src="/js/proba.js"></script>
	<script src="https://kit.fontawesome.com/705b70177f.js" crossorigin="anonymous"></script>
	
          <script th:inline="javascript">
	    var treninziDTO = /*[[${treninziDTO}]]*/;
	    </script>
   
         
	</head>
	
	<body onload="initTreninzi()">
<!-- navigacijski meni-->
		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
			<a href="#" class="navbar-brand">
				<img src="/images/logo.jpg" height="28" alt="CoolBrand">
			</a>
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav ml" >
					<a href="pocetna.html" class="nav-item nav-link active">Početna</a>
					<a href="pretraga.html" class="nav-item nav-link ">Pretraga</a>
					<a href="fitnessCentri.html" class="nav-item nav-link ">Fitness Centri</a>
					<a href="treninzi.html" class="nav-item nav-link">Treninzi</a>
					
				</div>
				<div class="navbar-nav ml-auto">
					<div class="dropdown">
                    <button class="dropbtn">Prijava</button>
                    <div class="dropdown-content">
                    <a href="prijava.html">Prijava člana</a>
                    <a href="prijavaAdm.html">Prijava administratora</a>
                    <a href="prijavaTrenera.html">Prijava trenera</a>
                    </div>
                     </div>
                     <div class="dropdown">
                    <button class="dropbtn">Registracija</button>
                    <div class="dropdown-content">
                    <a href="registracija.html">Registracija člana</a>
                    <a href="registracijaAdministratora.html">Registracija administratora</a>
                    <a href="registracijaTrenera.html">Registracija trenera</a>
                    </div>
                     </div>
                    
					 
					
				</div>
				
			</div>
		</nav>
		   <br>
                <br>
                <br>
                <br>
                
                   <br>
                <br>
                <br>
                <br>
                
        <main>
        <div class="row justify-content-center">
            <nav class="navbar navbar-expand-lg  navbar-light" style="background-color: #e3f2fd;">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" id="naziv" type="search" placeholder="Naziv" aria-label="Search">
                    <select  class="custom-select mr-sm-2" id="tipTreninga">
                        <option selected>Tip Treninga</option>
                        <option th:each="tipTreninga : ${treninziDTO.tipTreninga}" th:text="${tipTreninga}"></option>
                    </select>
                    <input class="form-control mr-sm-2" id="opis" type="search" placeholder="Opis" aria-label="Search">
                    <input class="form-control mr-sm-2" id="cena" type="search" placeholder="Cena" aria-label="Search">
                    <input class="form-control mr-sm-2" id="vreme" type="search" placeholder="Vreme" aria-label="Search">
                    <button class="btn btn-light" type="button" onclick="filterData(treninziDTO)">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                      </svg>
                    </button>
                </form>
            </nav>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <table id="Treninzi" class="table table-hover">
                <thead class="thead-light" style="background-color: #e3f2fd; ">
             
                    <tr>
                        <th></th>
                        <th   onclick="sortTable(1)">Naziv <i id="th1" class="fa fa-fw fa-sort"></i></th>
                        <th   onclick="sortTable(2)">TipTreninga<i id="th2" class="fa fa-fw fa-sort"></i></th>
                        <th   onclick="sortTable(3)">Opis<i id="th3" class="fa fa-fw fa-sort"></i></th>
                        <th   onclick="sortTable(4)">Cena<i id="th4" class="fa fa-fw fa-sort"></i></th>
                        <th   onclick="sortTable(5)">Vreme<i id="th5" class="fa fa-fw fa-sort"></i></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="trening : ${treninziDTO.treninzi}" th:id="${trening.id}">
                   <!--     <td><img th:src="'/images/'+${trening.id}+'.jpg'"/ width="70" height="100"></td> -->
                        <td th:text="${trening.naziv}"></td>
                        <td th:text="${trening.tipTreninga}"></td>
                        <td th:text="${trening.opis}"></td>
                        <td th:text="${trening.cena}"></td>
                        <td th:text="${trening.vreme} + ' min'"></td>
                        <td><button type="button" th:onclick="'getTrening('+${trening.id}+')'" class="btn btn-outline-secondary viewer">Rezerviši</button></td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>

        </main>
      
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
       
	</body>
</html>